<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Appenders>
		<RollingFile name="CONSOLE" fileName="${sys:catalina.home}/logs/chica.log" filePattern="${sys:catalina.home}/logs/chica.%d{dd-MM-yyy}.log">
              <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n"/>
              <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
              </Policies>                               
        </RollingFile>
        <RollingFile name="info-out" fileName="${sys:catalina.home}/logs/chica_info.log" filePattern="${sys:catalina.home}/logs/chica_info.%d{dd-MM-yyy}.log">
              <LevelRangeFilter minLevel="INFO" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
              <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n"/>
              <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
              </Policies>                               
        </RollingFile>
        <RollingFile name="error-out" fileName="${sys:catalina.home}/logs/chica_error.log" filePattern="${sys:catalina.home}/logs/chica_error.%d{yyyy-MM-dd}.log">
              <LevelRangeFilter minLevel="ERROR" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
              <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n"/>
              <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
              </Policies>                               
        </RollingFile>
        <RollingFile name="debug-out" fileName="${sys:catalina.home}/logs/chica_debug.log" filePattern="${sys:catalina.home}/logs/chica_debug.%d{yyyy-MM-dd}.log">
              <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
              <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n"/>
              <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
              </Policies>                               
        </RollingFile>
        <RollingFile name="SocketHandlerAppender" fileName="${sys:catalina.home}/logs/SocketHandler.log" filePattern="${sys:catalina.home}/logs/SocketHandler.%d{yyyy-MM-dd}.log">
              <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
              <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n"/>
              <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
              </Policies>                               
        </RollingFile>
		<RollingFile name="DEBUGGING_FILE_APPENDER" fileName="openmrs.log" filePattern="openmrs.%i.log.gz" append="false">
			<PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
        <RollingFile name="DSS_FILE" fileName="${sys:catalina.home}/logs/dss.log" filePattern="${sys:catalina.home}/logs/dss.%d{yyyy-MM-dd}.log">
              <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %m%n"/>
              <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
              </Policies>                               
        </RollingFile>
		<Memory name="MEMORY_APPENDER">
			<PatternLayout pattern="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</Memory>
	</Appenders>
	<Loggers>
		<Logger name="org.apache" level="ERROR" />
		<Logger name="org.hibernate" level="ERROR" />
		<Logger name="net.sf.ehcache" level="ERROR" />
		<Logger name="org.springframework" level="ERROR" />
		<Logger name="org.openmrs" level="ERROR" />
		<Logger name="liquibase" level="ERROR" />
        <Logger name="org.openmrs.Concept" level="ERROR" />
		<!-- 
			This controls the LoggingAdvice class that wraps around the OpenMRS services 
			WARN == don't log anything special for the services
			INFO == log all setters
			DEBUG == log all setters & log all getters & log execution time
		-->
		<Logger name="org.openmrs.api" level="ERROR" />
		<Logger name="org.apache.fop" level="ERROR" />
        <Logger name="org.apache.pdfbox" level="ERROR" />
		<!-- Hide the useless MissingResourceException -->
		<Logger name="org.springframework.context.support.ResourceBundleMessageSource" level="ERROR" />
		<Logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="ERROR" />
		<Root level="INFO">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="MEMORY_APPENDER" />
			<!--<AppenderRef ref="DEBUGGING_FILE_APPENDER" />-->
		</Root>
        <Logger name="ca.uhn" level="ERROR" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="MEMORY_APPENDER"/>
        </Logger>
        <Logger name="org.openmrs.module.dss.DssManager" level="INFO">
            <AppenderRef ref="DSS_FILE"/>
        </Logger>
        <Logger name="org.openmrs.module.dss.CompilingClassLoader" level="INFO">
            <AppenderRef ref="DSS_FILE"/>
        </Logger>
        <Logger name="org.openmrs.module.dss.impl.DssServiceImpl" level="INFO">
            <AppenderRef ref="DSS_FILE"/>
        </Logger>
        <Logger name="org.openmrs.module" level="INFO" additivity="false">
            <AppenderRef ref="info-out"/>
            <AppenderRef ref="error-out"/>
            <AppenderRef ref="debug-out"/>
        </Logger>
        <Logger name="SocketHandlerLogger" level="WARN" additivity="false">
            <AppenderRef ref="SocketHandlerAppender"/>
        </Logger>
	</Loggers>
</Configuration>
